VITE_API_URL=https://your-backend.onrender.com/api
VITE_FIREBASE_API_KEY=AIzaSyBN0_d98ePeMEMw1qteoc2WL4v4nu2tvYw
VITE_FIREBASE_AUTH_DOMAIN=threadly-45c26.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=threadly-45c26
VITE_FIREBASE_STORAGE_BUCKET=threadly-45c26.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=759572461356
VITE_FIREBASE_APP_ID=1:759572461356:web:f580da68f869daedf41e89
